{{with $volume_prefix := ""}}{{else -}}
{{if ne .GOOS "windows" -}}
  {{$volume_prefix = "/home/mickey/.dev-container-volumes/" -}}
{{end -}}

services:
  vscode:
    container_name: vscode
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - {{$volume_prefix}}vscode-extensions:/home/vscode/.vscode-server/extensions
      - {{$volume_prefix}}workspaces:/home/vscode/workspaces
      - {{$volume_prefix}}zsh-history:/home/vscode/.zsh_history_dir
      - {{$volume_prefix}}zshrc:/home/vscode/.zshrc_dir
      - {{$volume_prefix}}git-config:/home/vscode/.gitconfig_dir
      - {{$volume_prefix}}m2-repo:/home/vscode/.m2
      - {{$volume_prefix}}sophora-repo:/home/vscode/sophora-repo
      - {{$volume_prefix}}ssh:/home/vscode/.ssh
      - {{$volume_prefix}}restic-repos:/home/vscode/restic-repos
      - {{$volume_prefix}}containerrunner:/home/vscode/.containerrunner
      - {{$volume_prefix}}go-fuzz-cache:/home/vscode/.cache/go-build/fuzz
      - {{$volume_prefix}}kube:/home/vscode/.kube
      - {{$volume_prefix}}config:/home/vscode/.config
      - {{$volume_prefix}}zoxide:/home/vscode/.zoxide
      - {{$volume_prefix}}gnupg:/home/vscode/.gnupg
      - {{$volume_prefix}}supermaven:/home/vscode/.supermaven
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - pg
      - embedding
      - languagetool
      - testing
      - redis
    command: /home/vscode/containerrunner -config /home/vscode/.containerrunner/config.yaml

  pg:
    container_name: pg
    image: ankane/pgvector
    environment:
      - POSTGRES_PASSWORD=postgres
    volumes:
      - {{$volume_prefix}}pg:/var/lib/postgresql/data
    networks:
      - pg

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=user@example.com
      - PGADMIN_DEFAULT_PASSWORD=postgres
    volumes:
      - {{$volume_prefix}}pgadmin:/var/lib/pgadmin
    ports:
      - "25432:80"
    networks:
      - pg
    depends_on:
      - pg

  embedding:
    container_name: embedding
    image: ghcr.io/bergos/embedding-server
    networks:
      - embedding

  languagetool:
    container_name: languagetool
    image: erikvl87/languagetool
    networks:
      - languagetool

  redis:
    container_name: redis
    image: redis:alpine3.19
    volumes:
      - {{$volume_prefix}}redis:/data
    networks:
      - redis
    command: redis-server --save 60 1 --loglevel warning

{{if eq .GOOS "windows"}}

volumes:
  vscode-extensions:
  workspaces:
  zsh-history:
  zshrc:
  git-config:
  m2-repo:
  sophora-repo:
  ssh:
  restic-repos:
  containerrunner:
  go-fuzz-cache:
  kube:
  pg:
  pgadmin:
  config:
  zoxide:
  gnupg:
  redis:
  supermaven:

{{end}}

networks:
  pg:
  embedding:
  languagetool:
  testing:
  redis:

{{- end}}
